body { background: #fff none; color: #000 }
.example { margin-left: 3em }
.note { font-style: italic }
code { font-style: normal }
.note em { font-style: normal }
table { margin-bottom: 1em }
div { margin-bottom: 0; margin-top: 0 }
th { text-align: left }
.summarytable { background: #eee none }
.summarytable caption { background: #eee none; border-bottom: #fff thin solid }
/*.summarytable td { padding-left: 1em; padding-right: 1em }*/
.majortable { background: #eee none }
.majortable caption { background: #eee none; border-bottom: #fff thin solid; padding: 4px 0 }
dt { font-weight: bolder }
.figure { }
.command-example { }
.chapnum { font-size: 200% }
TH.c { text-align: center }
TABLE.figure { margin-left: auto; margin-right: auto }
TABLE.figure CAPTION { caption-side: bottom }
.identity { margin-top: 0px; text-align: right; }
.bit { font-size: xx-small; }
.c0c,.c1c { text-align: center; }
.c0n,.c1n { text-align: right; font-size: xx-small; }
.glc,.grc { text-align: center; }
.gln,.grn { text-align: right; font-size: xx-small; }

.majortable TD { padding: 4px 1em }
.majortable TH { padding: 4px 1em }
.roman { font-style: normal }
.padded TD { padding: 4px 1em }
.padded TD.first { padding: 4px 1em 4px 0 }
.padded TH { padding: 4px 1em }
.padded TH.first { padding: 4px 1em 4px 0 }

TABLE.dpadded { margin-left: 2em }
.dpadded TD { padding: 4px 1em }
.dpadded TH { padding: 4px 1em }

/* Set all four because this could be nested,
   and we don't want to inherit other padding. */
TABLE.codeseq { margin-bottom: 0 }
.codeseq TD { padding: 0 1em 0 0 }
.codeseq TH { padding: 0 1em 0 0 }

#BOOKTITLE { text-align: center }
#TS0211,#TS0212,#TS0221,#TS0222,#TS0231,#TS0232,#TS1341,#TS1342,#TS1351 { text-align: center; border-bottom: #000 thin solid }
#COVER { text-align: center }
.navbar TABLE { margin-bottom: 0 }
DIV.centrefig { text-align: center }
OL OL { list-style: lower-alpha }
TABLE.command-example CAPTION { caption-side: bottom }
IMG.button { border: none }
DIV.navbot { text-align: right }
