BODY {
  background: #fff none;
  color: #000;
}

.chapterhead {
	text-align: right;
}

.footnote {
	font-size: 80%;
}

HR.navbar { margin-top: 30px; }

.button { border: none; }

A:link { color: blue }
A:visited { color: purple }
A:active { color: red }

KBD { color: #900; }

.identity { margin-top: 0px; text-align: right; }
.bit { font-size: xx-small; }
.c0c,.c1c { text-align: center; }
.c0n,.c1n { text-align: right; font-size: xx-small; }
.glc,.grc { text-align: center; }
.gln,.grn { text-align: right; font-size: xx-small; }
.glcv { text-align: center; background-color: #ddd }
#BOOKTITLE { text-align: center; }
#COVER, .contentslink { text-align: center; }
TD PRE { margin-top: 0; margin-bottom: 0 }
TABLE.figure CAPTION { caption-side: bottom }
.navbot { text-align: right }
