BODY {
	background: white;
	color: black;
}

.chapterhead {
	text-align: right;
}

.footnote {
	font-size: 80%;
}
H2 { clear: both; }
HR.navbar { margin-top: 30px; }

A:link { color: #00f }
A:visited { color: #906 }
A:active { color: #f00 }

KBD { color: #900; }

#BOOKTITLE { text-align: center; }
#COVER, .contentslink { text-align: center; }
.button { border: none; }
OL.appendices { list-style: upper-alpha; }
.chapheadfig IMG { float: left; margin-top: 1em; margin-bottom: 1em; }
.fchap { clear: both; }
#T2-1INNER,#T9-1A { font-size: smaller; }
.note { text-align: center; }
.xnested { font-size: x-small; }
/* "debug" only */
THEAD TR { background: #ccc; }
#F17-1 { float: right; }
CODE { color: #090; }
.param { color: #090; }
.figure { text-align: center; }
TABLE.figure CAPTION { caption-side: bottom }
.navbot { text-align: right }
