body { background: #fff none; color: #000 }
.note { margin-left: 20%; margin-right: 20% }
td .note { margin-left: 5%; margin-right: 5%; margin-bottom: 1em }
.notetype { text-align: center }
.figure { margin-top: 1em; margin-bottom: 1em; width: 100% }
.plugtype { border: 1pt solid black; padding: 0 0.2em }
.figure td { text-align: center }
caption { font-weight: bolder }
a { text-decoration: none }
#BOOKTITLE { background: #fff none; padding: 0em; border: none; text-align: center }
#COVER, .contentslink { text-align: center }
.figure CAPTION { caption-side: bottom }
IMG.button { border: none }
.navbot { text-align: right }
