/* vt102-ug.css */

BODY {
  background: #fff none;
  color: #000;
}
.note { font-style: italic; }
TH { text-align: left; }
H2 { color: #c00; }
.code { color: #090; margin-left: 4em; }
/*H3 { color: #090; }*/
/* .keyname,CODE { color: #c00; } */
CODE { color: #c00; }
.keyname { font-weight: bolder; font-style: normal; }
/* .mnemonic { color: #080; } */
.majortable { background: #ddd none; font-size: smaller; }
.majortable CAPTION { background: #ddd none; font-weight: bolder; text-align: left; border-bottom: thin solid white; }
.spanhead { text-align: center; }
#TB-1,#TC-1 { background: #fcc none; }
#TC-1 { font-size: smaller; }
#TC-1 TH { text-align: right; }
A { text-decoration: none; }
.example { color: #c00; }
#T5-3 UL { margin-top: 0px; margin-bottom: 0px; }
#BOOKTITLE { text-align: center; }
#COVER, .contentslink { text-align: center; }
.proctable { background: #fcc none; }
.proctable TH,.proctable TD { padding: 1em 30px 0.5em 10px; }
.figures TD { font-style: monospace; }
/* Netscape really messes up these rules, so simplify
H1 { color: #c00; text-align: right; line-height: 3em; margin-top: 1em; }
.chapnum { float: right; width: 0.7em; position: relative; top: -0.66em; color: #fcc; font-size: 300%; font-family: "Friz Quadrata", Eras, san-serif; }
*/
.chapnum { font-size: 2em; color: #fcc; font-family: "Friz Quadrata", Eras, san-serif; }
.footnote { margin-top: 0em; font-size: smaller; }
IMG.button { border: none }
TABLE.figure CAPTION { caption-side: bottom }
DIV.navbot { text-align: right }
