body { background: #fff none; color: #000 }
/*td,th { line-height: 1.5em }*/
th { text-align: left }
caption { font-weight: bolder; text-align: left; color: #66c }
.keyname { font-style: normal; font-weight: bolder }
.settings { list-style: none; margin-left: 2em; margin-top: 0em }
.note { font-style: italic }
.majorstep { font-size: larger; font-weight: bolder; color: #396 }
.goto { text-align: center; font-weight: bolder }
code { font-weight: bolder; font-family: sans-serif; font-size: 1em }
/* strong { color: #f00 }*/
/* tfoot { background: #cfc none } */
.figure { margin-left: auto; margin-right: auto }
.figure CAPTION { caption-side: bottom; text-align: center }
/*h1 { background: #ccc none; padding: 1em; border: thin solid black; text-align: right; line-height: 1.5em }*/
.chapnum { color: #66c; font-size: 2.5em; font-family: "Book Antiqua", Bookman, Garamond, serif }
.rev { background: #000 none; color: #fff }
kbd { font-weight: bolder }
.nodisplay { display: none }
.feature { font-style: normal; font-weight: bolder }
.setting { font-style: normal } /* eg. p.29 in note */
li { margin-top: 1em; margin-bottom: 1em }
.majortable { background: #ddd none; margin-top: 1em; margin-bottom: 1em }
.majortable CAPTION { background: #ddd none; font-weight: bolder; text-align: left; border-bottom: thin solid white; }
.ptitle { font-weight: bolder }
#BOOKTITLE, #CONTENTS { background: #fff none; padding: 0em; border: none; text-align: center }
#COVER, .contentslink { text-align: center }
DIV.navbot { text-align: right }
IMG.button { border: none }
