body { background: #fff none; color: #000 }
caption { font-weight: bolder; text-align: left; color: #66c }
.note { font-style: italic }
.nodisplay { display: none }
#BOOKTITLE, #CONTENTS { background: #fff none; padding: 0em; border: none; text-align: center }
#COVER, .contentslink { text-align: center }
DIV.navbot { text-align: right }
IMG.button { border: none }
